@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Montserrat:300,300i,700|Playfair+Display:300,300i,400,400i&display=swap');


/*     MOBILE DEFAULT STYLING      */

body{
font-family: 'Montserrat', sans-serif;
font-size:12px;
font-weight:300;
letter-spacing:1px;
line-height:18px;
background-color:#1c272d;
}

.hidden{ display:none; }

.clear {
  content: "";
  display: table;
  clear: both;
}

#wrapper{ width:100%; background-color:#fff;}

/*      MOBILE MAIN TYPOGRAPHY STYLING      */

h1{
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
  color:#fff;
  font-size:34px;
  letter-spacing:3px;
  line-height:36px;
  font-weight:300;
  padding:0 10px 5px 10px;
}

h2{
  text-align:center;
  font-family: 'Playfair Display', serif;
  font-size:23px;
  line-height:32px;
  letter-spacing:2px;
  color:#fff;
  padding-bottom:15px;
}

.h2-italics{ font-style:italic; }

h3{
  text-align:center;
  font-family: 'Playfair Display', serif;
  color:#1c272d;
  font-size:25px;
  letter-spacing:3.5px;
}

h4{
  font-family: 'Playfair Display', serif;
  color:#1c272d;
  font-size:20px;
  letter-spacing:2px;
  font-style:italic;
  padding-bottom:15px;
}

.drop-cap{
  font-family: 'Playfair Display', serif;
  color:#6a757b;
  font-size:88px;
  line-height:70px;
  float:left;
  margin:0 10px 0 0;
}

.aside-txt{
  color:#000;
  font-size:11px;
  font-family:'Montserrat', sans-serif;
  font-style:italic;
  letter-spacing:1px;
  line-height:29px;
  padding-top:15px;
  padding-bottom:5px;
}

a, a:link, a:visited, a:hover{ color:#71bdb6; text-decoration:none; }

.traa-button{
  margin-top:25px;
  margin-bottom:25px;
  width:130px;
  height:35px;
  background-color:#81a328;
  font-family:'Montserrat', sans-serif;
  font-size:14px;
  font-weight:700;
  letter-spacing:1px;
  border:none;
  color:#fff;
}

.traa-button:hover{ transition:0.5s; background-color:#01675f; }

.newsletter-button{
  margin-top:25px;
  margin-bottom:25px;
  width:210px;
  height:70px;
  background-color:#81a328;
  font-family:'Josefin Sans', sans-serif;
  font-size:24px;
  letter-spacing:2px;
  border:none;
  color:#fff;
}

.newsletter-button:hover{ transition:0.5s; background-color:#01675f; }

/*              MOBILE MAIN HEADER HERE               */

#index-head{
  background-image:url('../images/index-header-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:1055px;
}

#about-head{
  height:650px;
  background-image:url('../images/other-header-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#other-head{
  background-image:url('../images/other-header-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:800px;
}

#index-header-wrapper { background-color:#1c272d; }

/*#about-header-wrapper { background-color:#1c272d; height:502px;}*/

#header-wrapper{ background-color:#1c272d; padding-bottom:70px; }

#logo{
  margin:20px 0 0 0;
  float:left;
}

#logo img{ width:60%;
  padding-left:30px;
}

#mainnav {
  height:75px;
  background-color: rgba(28, 39, 45, .85);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width:15px;
  border-bottom-color:#81a328;
}

#mainnav button { margin-left: auto; outline:none; }

#nav-desktop{ display:none; }

/* hide the menu by default */
#burgerCon{ display: none; margin-top: 20px; }

#burgerCon.slideToggle { display: block; }

#mainnav button{
  background: url(../images/burger.svg) center no-repeat;
  border: 0;
  margin:15px 0 0 20px;
  width: 50px;
  height: 50px;
  transition: all 400ms ease;
}

#mainnav button.expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#nav-mobile li a{
  display: block;
  font-family:'Josefin Sans', sans-serif;
  font-size:11px;
  font-weight:300;
  color:#d8e7af;
  padding: 10px 0;
  text-align: right;
  padding-right:30px;
}

#nav-mobile li{
  background-color: rgba(28, 39, 45, .85);
  border-bottom: 1px solid #efefef;
}

#nav-mobile li:first-child {border-top: 1px solid #efefef;}

#nav-mobile li:last-child {margin-bottom: 10px;}

#nav-mobile li a:hover{background-color:#1a242a;}

#page-info-bg{
  margin:0 auto;
  width:330px;
  -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
}

#page-info{
  margin-top:-450px;
  padding-top:40px;
  z-index:2;
  background-color:rgb(2, 87, 80, .85);
}

#page-body{
  font-family:'Montserrat', sans-serif;
  font-style:italic;
  line-height:18px;
  color:#f0f0f0;
  margin:0 auto;
  width:90%;
  text-align:left;
  padding:0 20px 30px 20px;
}

#tagline{
  margin:0 auto;
  height:265px;
  width:900px;
  margin-bottom:95px;
  background-color: #cccccc;
  background-color:rgb(2, 87, 80, .85);
  -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
}

#tagline-info{
  margin:18px;
  padding-top:40px;
}

#tag-body{
  font-family:'Montserrat', sans-serif;
  font-style:italic;
  /*color:#b9c7c4;*/
  color: #fff;
  margin:0 auto;
  width:675px;
  text-align:center;
  padding-bottom:30px;
}

#nextdiv{ height:500px; }


/*          MOBILE EVENTS PAGE BEGINS HERE    */

#events-upcoming h3{ padding:35px 0 15px 0;}

#events-new{
  width:340px;
  margin:0 auto;
  margin-bottom:35px;
}

#events-new img{ width:340px; padding-top:20px;}

#events-txt{color:#fff;}

#events-past h3{ color:#fff; }

.events-past-h3{
  text-align:center;
  background-color:#1a4351;
  padding-top:25px;
  padding-bottom:25px;
}

.events-past-nav{
  text-align:center;
  background-color:#81a328;
  padding-top:10px;
  padding-bottom:10px;
}

.events-past-nav li{
  padding-left:10px;
  padding-right:10px;
  display:inline;
}

.events-past-nav a, a:visited, a:after{
  font-family:'Josefin Sans', sans-serif;
  font-size:15px;
  letter-spacing:1px;
  color:#fff;
  text-decoration:none;
}

.past-column{
  width:340px;
  margin:0 auto;
  margin-top:10px;
  margin-bottom:30px;
}

.past-img img{ width:340px; padding-top:30px; }

/*         MOBILE RESOURCES PAGE BEGINS HERE      */

.resources h2{
  color:#1c272d;
  padding-bottom:30px;
  font-style:italic;
 }

.resources a{
  color:#00746b;
  text-decoration:underline;
  text-underline-position:under;
}

.resources p{ padding:10px 0 20px 0; }

.resources {
  padding-top:30px;
  margin:0 auto;
  width:300px;
}

#resources-links{
  width:340px;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}

#resources-links h2{
  text-align:left;
}

#resource-authorities{
  width:160px;
  flex-direction:column;
  flex-wrap:wrap;
}

#resource-governmental{
  margin-top:-26px;
  width:160px;
  flex-direction:column;
}

#resource-nl-past{ display:none; }

#resource-retailers{
  margin:30px 0 30px 0;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  width:340px;
}

#resource-ret-1, #resource-ret-2{ width:170px; }

#resource-ret-2{ margin-top:94px; }

#resource-nl-info{
  background-color:#1c272d;
  padding:30px 20px 20px 0;
}

#resource-nl-info h1{ font-size: 20px; }

#resource-nl-info h2{
  font-size:16px;
  width:280px;
  margin:0 auto;
  line-height:23px;
 }

#resource-nl-info p{ margin:0 auto; width:280px; text-align: center; }

#resource-newsletter {
  width: 100%;
  background: url('../images/newsletter-bg.jpg');
  background-size:cover;
  padding-top: 40px;
  padding-bottom: 30px;
}

.newsletter-signup-Container {
  width: 340px;
  margin: 0 auto;
  text-align: center;
}

input[type=email], textarea {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 30px;
  border: 0;
  border-bottom: 2px solid #ffffff;
  outline: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  background-color: transparent;
  color: #ffffff;
  font-size: 28px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  resize: none;
}

::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
}

:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
}

::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

input[type=submit]{
  margin-top:25px;
  margin-bottom:25px;
  width:170px;
  height:60px;
  background-color:#81a328;
  font-family:'Josefin Sans', sans-serif;
  font-size:20px;
  letter-spacing:2px;
  border:none;
  color:#fff;
}

.input[type=submit]:hover{ transition:0.5s; background-color:#01675f; }

/*          MOBILE FOOTER BEGINS HERE        */

#footer{
  margin:0 auto;
  width:100%;
  background-color:#1c272d;
  -webkit-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
}

#footer h3{
  text-align:left;
  font-family: 'Playfair Display', serif;
  color:#fff;
  font-size:20px;
  letter-spacing:3.5px;
  font-style:italic;
}

#footer-info{
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

#quicklinks{ width:330px; margin-top:55px; }

#sub-social{ margin-top:-30px; float:right; }

#sub-social img {width:35px}

#sub-social li{
  display:inline;
  padding-right:3px;
  padding-left:3px;
}

#sub-social a:hover, #sub-contact a:hover{ opacity:0.5; transition:0.5s; }

#sub-nav{ margin-top:45px; display:flex; }

#sub-nav a{
  text-decoration:none;
  font-size:12px;
  letter-spacing:2px;
  line-height:30px;
  color:#dfdfe0;
  opacity:0.8;
}

#sub-nav a:hover{ opacity:1; transition:0.5s; }

#sub-nav li{ display:inline; }

#sub-nav-1, #sub-nav-2{ padding-right:30px; }

#sub-contact{ margin-top:55px;}

#sub-contact img{ width:35px; }

#sub-contact-0{ display:flex; flex-wrap:wrap;}

#sub-contact p{ opacity:0.7; }

#sub-contact-1 ul{ margin-top:34px; margin-left:10px; }

#sub-contact-0 ul{
  font-size:12px;
  letter-spacing:2px;
  color:#fff;
}

#sub-contact-2 ul{ margin-top:45px; margin-left:18px; }

#sub-contact-1 li{ margin-bottom:10px; }

#sub-contact-2 li{ margin-bottom:27px; }

#copyright{
  margin:0 auto;
  margin-top:35px;
  margin-bottom:35px;
  text-align:center;
  width:100%;
  font-family:'Josefin Sans', sans-serif;
  font-size:12px;
  color:#a5ad4b;
  opacity:0.9;
}


/*     TABLET MEDIA QUERY BEGINS    */

@media screen and (min-width: 376px) {

  body{
    font-size:14px;
    line-height:20px;
  }

  h1{
    font-size:34px;
    letter-spacing:3px;
    line-height:36px;
    font-weight:300;
    padding:0 10px 5px 10px;
  }

  h2{
    font-size:34px;
    line-height:32px;
    letter-spacing:2px;
    padding-bottom:15px;
  }

  h3{
    font-size:34px;
    letter-spacing:3.5px;
    margin:35px 0 35px 0;
  }

  h4{
    font-size:20px;
    letter-spacing:2px;
    padding-bottom:15px;
  }

  #other-head{ height:700px; }

  #headerwrapper{ padding-bottom:150px; }

  #logo{ width:25%; margin-left:15px;}

  #logo img{ width:100%; }

  #nav-mobile{
    display:none;
  }

  #nav-desktop{
    display:unset;
  }

  #mainnav{
    height:85px;
    background-color: rgba(28, 39, 45, .85);
    border-bottom-style: solid;
    border-bottom-width:13px;
    border-bottom-color:#81a328;
  }

  #nav-desktop a, #nav-desktop a:visited{
    font-family:'Josefin Sans', sans-serif;
    font-size:1.9vmin;
    font-weight:300;
    color:#d8e7af;
    text-decoration:none;
    padding:22px 5px 19px 5px;
    margin:0;
    opacity:1;
  }

  #nav-desktop ul{
    width:95%;
    min-width:200px;
    text-align:right;
    padding-top:34px;
    padding-bottom:11px;
    margin-right:30px;
    margin-left:10px;
  }

  #nav-desktop li{ display:inline; }

  #page-info-bg{
    margin:0 auto;
    width:75%;
  }

  #page-info{
    margin-top:-320px;
    padding:40px 10px 10px 10px;
    z-index:2;
  }

  #page-info h1{ font-size:30px;}

  #page-info h2{ font-size:26px; padding-bottom:30px;}

  #page-body{
    font-family:'Montserrat', sans-serif;
    font-style:italic;
    line-height:20px;
    color:#cbd0d1;
    margin:0 auto;
    width:90%;
    text-align:center;
    padding-bottom:30px;
  }

  /*       TABLET EVENTS PAGE HERE    */

  #events-new{
    width:400px;
  }

  #events-new img{
    width:400px;
  }

  /*       TABLET RESOURCES PAGE HERE    */

  .resources{ width:650px; }

  .resources h2{ font-size:24px; }

  #resource-retailers{ display:block; }

   #resources-links{
     margin:0 auto;
     padding-top:15px;
     padding-bottom:50px;
     width:650px;
     display:flex;
     justify-content:space-between;
   }

   #resource-authorities, #resource-governmental, #resource-retailers{
     width:200px;
     margin:0 auto;
   }

   #resource-ret-2{ margin-top:0; }

   #resource-nl-info{
     background-color:#1c272d;
     padding-top:80px;
     padding-bottom:50px;
   }

   #resource-nl-info h1{ font-size: 36px; }

   #resource-nl-info h2{
     font-size:26px;
     width:500px;
     margin:0 auto;
     line-height:34px;
    }

    #resource-nl-info p{ width: 500px; }

   .newsletter-signup-Container {
     width: 680px;
     height: 273px;
     margin: 0 auto;
     text-align: center;
   }

   input[type=email], textarea {
     width: 671px;
     border-bottom: 5px solid #ffffff;
     font-size: 24px;
     text-align: center;
     resize: none;
   }

   input[type=submit]{
     width:210px;
     height:70px;
     font-size:24px;
   }

   .input[type=submit]:hover{ transition:0.5s; background-color:#01675f; }


  /*       TABLET FOOTER SECTION HERE    */

  #footer-info{ width:80%; }

  #sub-social{ margin-top:-60px; }

  #sub-contact-1{ margin-top:-30px; }

  #sub-contact-2{ margin-top:-30px; }

}

/*     DESKTOP MEDIA QUERY BEGINS    */

@media screen and (max-width:1280px) and (min-width:769px) {

  body{
  font-family: 'Montserrat', sans-serif;
  font-size:15px;
  font-weight:300;
  letter-spacing:1px;
  line-height:26px;
  background-color:#1c272d;
  }

  h1{
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
    color:#fff;
    font-size:36px;
    letter-spacing:3px;
    font-weight:300;
    padding-bottom:10px;
  }

  h2{
    text-align:center;
    font-family: 'Playfair Display', serif;
    font-size:28px;
    line-height:32px;
    letter-spacing:4px;
    color:#fff;
    padding-top:5px;
    padding-bottom:35px;
  }

  h3{
    text-align:center;
    font-family: 'Playfair Display', serif;
    color:#1c272d;
    font-size:36px;
    letter-spacing:3.5px;
  }

  h4{
    font-family: 'Playfair Display', serif;
    color:#1c272d;
    font-size:30px;
    letter-spacing:3.5px;
    line-height:38px;
    font-style:italic;
    margin-bottom:25px;
  }

  .drop-cap{
    font-family: 'Playfair Display', serif;
    color:#6a757b;
    font-size:88px;
    line-height:70px;
    float:left;
    margin:0 10px 0 0;
  }

  .aside-txt{
    color:#fff;
    font-size:18px;
    font-family:'Montserrat', sans-serif;
    font-style:italic;
    letter-spacing:2px;
    line-height:29px;
  }

  a, a:link, a:visited, a:hover{ color:#71bdb6; text-decoration:none; }


  /*              DESKTOP MAIN HEADER HERE               */

  #other-head{ height:800px;}

  #headerwrapper{ padding-bottom:200px; }

  #logo{ width:250px; margin-left:30px;}

  #logo img{ width:100%; }

  #mainnav{
    width:100%;
    height:55px;
    background-color: rgba(28, 39, 45, .85);
    border-bottom-style: solid;
    border-bottom-width:15px;
    border-bottom-color:#81a328;
  }

  #mainnav a, #mainnav a:visited{
    font-family:'Josefin Sans', sans-serif;
    font-size:1.16vw;
    font-weight:300;
    color:#d8e7af;
    text-decoration:none;
    padding:1.375em 1.125em 1.125em 1.125em;
    margin:0;
    opacity:1;
  }

  #mainnav a:hover{
    color:#fff;
    background-color:rgba(129, 163, 40, .85);
    transition: 0.5s;
  }

  #mainnav a.selected{ color:#fff; background-color:#81a328; }

  #mainnav ul{
    text-align:right;
    padding-top:16px;
    padding-bottom:11px;
  }

  #mainnav li{ display:inline; }

  #nav-desktop{
   }

  #logo a:hover{ background:none; }

  #page-info-bg{
    margin:0 auto;
    padding:8px 0 8px 0;
    margin-top:-350px;
    width:75%;
    max-width:900px;
    background-color:rgb(2, 87, 80, .85);
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
  }

  #page-info{
    margin:18px;
    padding-top:40px;
    border-style:dashed;
    border-width:2px;
    border-color:#7aa5a2;
  }

  #page-body{
    font-family:'Montserrat', sans-serif;
    font-style:italic;
    color:#b9c7c4;
    margin:0 auto;
    width:80%;
    text-align:center;
    padding-bottom:30px;
  }

  #tagline{
    margin:0 auto;
    height:265px;
    width:900px;
    margin-bottom:95px;
    background-color: #cccccc;
    background-color:rgb(2, 87, 80, .85);
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
  }

  #tagline-info{
    margin:18px;
    padding-top:40px;
    border-style:dashed;
    border-width:2px;
    border-color:#7aa5a2;
  }

  #tag-body{
    font-family:'Montserrat', sans-serif;
    font-style:italic;
    /*color:#b9c7c4;*/
    color: #fff;
    margin:0 auto;
    width:675px;
    text-align:center;
    padding-bottom:30px;
  }

  #nextdiv{ height:500px; }

  #events-upcoming{
    margin:0 auto;
    background-color:#fff;
    padding-top:20px;
  }

  #events-new{
    margin:0 auto;
    margin-top:50px;
    width:80%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }

  #events-new .aside-txt{
    color:#000;
    font-size:14px;
    margin-bottom:15px;
  }

  .events{ width:49%; margin-bottom:80px; }

  .events-img{ margin-bottom:25px;}

  .events-img img{ width:90% !important; }

  .events-txt{ padding-right:50px; }

  .events-past-h3{
    padding-top:70px;
    padding-bottom:70px;
    background-color:#1a4351;
  }

  .events-past-h3 h3{ color:#fff; }

  .events-past-nav{
    text-align:center;
    background-color:#81a328;
    padding-top:25px;
    padding-bottom:25px;
  }

  .events-past-nav li{
    padding-left:30px;
    padding-right:30px;
    display:inline;
  }

  .events-past-nav a, a:visited, a:after{
    font-family:'Josefin Sans', sans-serif;
    font-size:20px;
    letter-spacing:1px;
    color:#fff;
    text-decoration:none;
  }

  .events-past-nav a:hover{ opacity:0.5; transition:0.3s; }

  .past-column{
    margin:0 auto;
    padding-top:85px;
    width:80%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
  }

  .past-img{ width:400px; height:290px; }

  .past-txt{ width:515px; margin:0 15px 65px 30px; }

  #events-past .aside-txt{
    color:#000;
    font-size:14px;
    margin-bottom:15px;
    margin-top:-5px;
  }

  /*          DESKTOP RESOURCES PAGE STARTS HERE        */

  .resources p{ padding-top:15px; padding-bottom:15px;}

  .resources a,.resources a:link, .resources a:visited {
    color:#00746b;
    font-size:17px;
    text-decoration:underline;
    text-underline-position:under;
  }

  .resources a:hover{ transition:none; color:#71bdb6;}

  .resources h2 {
    color:#1c272d;
    text-align:left;
    font-style:italic;
  }

  #resource-conserve{
    margin:0 auto;
    width:850px;
    background-color:#fff;
    padding:50px 150px 30px 150px;
  }

  #resource-fishing{
    margin:0 auto;
    width:850px;
    background-color:#fff;
    padding:0 150px 25px 150px;
  }

  #resources-links{
    margin:0 auto;
    padding-top:15px;
    padding-bottom:50px;
    width:1050px;
    display:flex;
    justify-content:space-between;
  }

  #resource-authorities, #resource-governmental, #resource-retailers{ width:300px; margin:0 auto;}

  #resource-nl-info p{
    margin:0 auto;
    width:600px;
    line-height:24px;
  }

  #resource-newsletter{
    background-image:url('../images/newsletter-bg.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    text-align:center;
    height:260px;
    padding-top:85px;
    padding-bottom:60px;
  }

  #resource-nl-past{
    margin:0 auto;
    width:1050px;
    padding:60px 0 60px 0;
  }

  #resource-nl-past h2{ color:#1c272d; padding-bottom:30px;}

  #resource-nl-past p{
    margin:0 auto;
    width:700px;
    text-align:center;
  }

  #resource-nl-past{ display:grid; margin:0 auto; }

  #resource-nl-archive{
    width:1050px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
  }

  #resource-ret-1, #resource-ret-2{ width:400px; }

  /*          DESKTOP RESOURCE NEWSLETTER SECTION        */
  #resource-newsletter {
    width: 100%;
    height: 275px;
    background: url('../images/newsletter-bg.jpg');
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .newsletter-archive{ padding-top:60px; }

  .newsletter-archive h5{
    text-align:center;
    font-style:'Montserrat', sans-serif;
    font-size:20px;
    color:#fff;
    background-color:#1c272d;
    width:318px;
    padding-top:5px;
    padding-bottom:5px;
  }

  #nl-arch-links{
    font-style:'Montserrat', sans-serif;
    font-size:17px;
    color:#fff;
    background-color:#00746b;
    padding:20px 35px 20px 35px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
  }

  #nl-arch-links a{ color:#fff; }
  #nl-arch-links a:hover{ opacity:0.5; transition:0.5s; }

  .nl-short-1{ width:59px; }
  .nl-short-2{ width:119px; }
  .nl-long{ width:248px; }

/*          DESKTOP FOOTER BEGINS HERE      */

  #footer{
    margin:0 auto;
    width:100%;
    height:325px;
    background-color:#1c272d;
    -webkit-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
  }

  #footer h3{
    text-align:left;
    font-family: 'Playfair Display', serif;
    color:#fff;
    font-size:30px;
    letter-spacing:3.5px;
    font-style:italic;
  }

  #footer-info{
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content:center;
  }

  #quicklinks{ width:45vmin; margin-top:55px;  margin-right:250px; }

  #sub-social{ float:right; margin-right:-150px; padding-top:20px;}

  #sub-social img{ width:45px; margin-top:-30px; }

  #sub-social li{
    display:inline;
    padding-right:8px;
    padding-left:8px;
  }

  #sub-social a:hover, #sub-contact a:hover{ opacity:0.5; transition:0.5s; }

  #sub-nav{   margin-top:45px; display:flex; }

  #sub-nav a{
    text-decoration:none;
    font-size:13px;
    letter-spacing:3px;
    line-height:30px;
    color:#dfdfe0;
    opacity:0.8;
  }

  #sub-nav a:hover{ opacity:1; transition:0.5s; }

  #sub-nav li{ display:inline; }

  #sub-nav-1, #sub-nav-2{ padding-right:80px; }

  #sub-contact{ margin-top:55px; width:53vmin; }

  #sub-contact-0{ display:flex;}

  #sub-contact p{ opacity:0.7; }

  #sub-contact-1, #sub-contact-2{ padding-top:20px; }

  #sub-contact-1 ul{ margin-top:5px; margin-left:10px; }

  #sub-contact-1 img{ width:40px; }

  #sub-contact-0 ul{
    font-size:14px;
    letter-spacing:2px;
    color:#fff;
  }

  #sub-contact-2 ul{ margin-top:10px; margin-left:18px; }

  #sub-contact-1 li{ margin-bottom:10px; }

  #sub-contact-2 li{ margin-bottom:18px; }

  #copyright{
    margin:0 auto;
    margin-top:35px;
    margin-bottom:35px;
    text-align:center;
    width:80%;
    font-family:'Josefin Sans', sans-serif;
    font-size:12px;
    color:#a5ad4b;
    opacity:0.9;
  }

}
