@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Montserrat:300,300i,700|Playfair+Display:300,300i,400,400i&display=swap');


/*     MOBILE DEFAULT STYLING      */

body{
font-family: 'Montserrat', sans-serif;
font-size:12px;
font-weight:300;
letter-spacing:1px;
line-height:18px;
background-color:#1c272d;
}

.hidden{ display:none; }

.clear {
  content: "";
  display: table;
  clear: both;
}

#wrapper{ width:100%; background-color:#fff;}

/*      MOBILE MAIN TYPOGRAPHY STYLING      */

h1{
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
  color:#fff;
  font-size:23px;
  letter-spacing:3px;
  line-height:36px;
  font-weight:300;
  padding:0 10px 5px 10px;
}

h2{
  text-align:center;
  font-family: 'Playfair Display', serif;
  font-size:17px;
  line-height:32px;
  letter-spacing:2px;
  color:#fff;
  padding-bottom:15px;
}

.h2-italics{ font-style:italic; }

h3{
  text-align:center;
  font-family: 'Playfair Display', serif;
  color:#1c272d;
  font-size:25px;
  letter-spacing:3.5px;
}

h4{
  font-family: 'Playfair Display', serif;
  color:#1c272d;
  font-size:20px;
  letter-spacing:2px;
  font-style:italic;
  padding-bottom:15px;
}

.drop-cap{
  font-family: 'Playfair Display', serif;
  color:#6a757b;
  font-size:88px;
  line-height:70px;
  float:left;
  margin:0 10px 0 0;
}

.aside-txt{
  color:#000;
  font-size:11px;
  font-family:'Montserrat', sans-serif;
  font-style:italic;
  letter-spacing:1px;
  line-height:29px;
  padding-top:15px;
  padding-bottom:5px;
}

a, a:link, a:visited, a:hover{ color:#71bdb6; text-decoration:none; }

.traa-button{
  margin-top:25px;
  margin-bottom:25px;
  width:130px;
  height:35px;
  background-color:#81a328;
  font-family:'Montserrat', sans-serif;
  font-size:14px;
  font-weight:700;
  letter-spacing:1px;
  border:none;
  color:#fff;
}

.traa-button:hover{ transition:0.5s; background-color:#01675f; }

.newsletter-button{
  margin-top:25px;
  margin-bottom:25px;
  width:210px;
  height:70px;
  background-color:#81a328;
  font-family:'Josefin Sans', sans-serif;
  font-size:24px;
  letter-spacing:2px;
  border:none;
  color:#fff;
}

.newsletter-button:hover{ transition:0.5s; background-color:#01675f; }

/*              MOBILE MAIN HEADER HERE               */

#index-head{
  background-image:url('../images/index-header-img-mobile.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:1055px;
}

#about-head{
  height:650px;
  background-image:url('../images/other-header-img-mobile.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#other-head{
  background-image:url('../images/other-header-img-mobile.png');
  background-position:-50px;
  background-repeat: no-repeat;
  background-size: cover;
  height:800px;
}

#index-header-wrapper { background-color:#1c272d; }

/*#about-header-wrapper { background-color:#1c272d; height:502px;}*/

#header-wrapper{ background-color:#1c272d; }

#logo{
  margin:20px 0 0 0;
  float:left;
}

#logo img{ width:60%;
  padding-left:30px;
}

#mainnav {
  height:75px;
  background-color: rgba(28, 39, 45, .85);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width:15px;
  border-bottom-color:#81a328;
}

#mainnav button { margin-left: auto; outline:none; }

#nav-desktop{ display:none; }

/* hide the menu by default */
#burgerCon{ display: none; margin-top: 20px; }

#burgerCon.slideToggle { display: block; }

#mainnav button{
  background: url(../images/burger.svg) center no-repeat;
  border: 0;
  margin:15px 0 0 20px;
  width: 50px;
  height: 50px;
  transition: all 400ms ease;
}

#mainnav button.expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#nav-mobile li a{
  display: block;
  font-family:'Josefin Sans', sans-serif;
  font-size:11px;
  font-weight:300;
  color:#d8e7af;
  padding: 10px 0;
  text-align: right;
  padding-right:30px;
}

#nav-mobile li{
  background-color: rgba(28, 39, 45, .85);
  border-bottom: 1px solid #efefef;
}

#nav-mobile li:first-child {border-top: 1px solid #efefef;}

#nav-mobile li:last-child {margin-bottom: 10px;}

#nav-mobile li a:hover{background-color:#1a242a;}

#page-info-bg{
  margin:0 auto;
  width:330px;
  -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
}

#page-info{
  margin-top:-450px;
  padding: 40px 8px 0 8px;
  z-index:2;
  background-color:rgb(2, 87, 80, .85);
}

#page-body{
  font-family:'Montserrat', sans-serif;
  font-style:italic;
  line-height:18px;
  color:#f0f0f0;
  margin:0 auto;
  width:90%;
  text-align:left;
  padding:0 20px 30px 20px;
}

#tagline{
  margin:0 auto;
  margin-top:280px;
  height:292px;
  width:330px;
  margin-bottom:95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:rgb(2, 87, 80, .85);
  -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
}

#tagline-info{
  margin:18px;
  padding-top:20px;
  border-style:dashed;
  border-width:2px;
  border-color:#7aa5a2;
}

#tagline-info h2{
  font-size: 12.74px;
  line-height: 1;
  padding-top: 10px;
}

#tag-body{
  font-family:'Montserrat', sans-serif;
  font-style:italic;
  /*color:#b9c7c4;*/
  color: #fff;
  margin:0 auto;
  text-align:center;
  padding-top: 10px;
  padding-bottom:30px;
}


#nextdiv{ height:500px; }

/* MOBILE HOME PAGE BEGINS HERE */
#call-to-action {
  width: 243px;
  height: 750px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -350px;
  display: flex;
  flex-direction: column;
}

.call-to-action-Cont { padding: 30px; text-align: center; }

.call-to-action-Cont h1 { padding: 0!important; }

.call-to-action-Cont h2 { line-height: 1!important; }

.call-to-action-Cont p { color: #ffffff; }

.call-to-action p { text-align: center; }

#cta-donate { background-color: #005a4d; }

#cta-membership { background-color: #759038; }

#cta-involvement { background-color: #024f59; }

.button {
  width: 151px;
  height: 43px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #acacac;
  border: none;
}

.button a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  border: 0 !important;
  outline: 0;
}

.cta-button { background-color: #1c272d; }

/* HOME - ABOUT SECTION */

#about {
  width: 100%;
  height: 780px;
  padding-top: 550px;
  background-color: #1c272d;
}

.about-Cont {
  width: 240px;
  height: 371px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-img img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 240px;
  height: 213px;
}

.about-txt p {
  color: #ffffff;
  margin-bottom: 30px;
  line-height: 19px;
}

#about-button { margin-top: 18px; }

#about-button a { color: #1c272d; }

/* MOBILE HOME - NEWS SECION */

#news {
  height: 550px;
  width: 100%;
  padding-top: 80px;
  background-color: #ffffff;
}

.news-Container {
  width: 291px;
  min-height: 519px;
  margin: auto;
  overflow: hidden;
}

.news-Content-Container {
  width: 873px;
  height: 529px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*padding-left: 30px;
  padding-right: 30px;*/
  margin: 0 auto;
  margin-top: 70px;
  /*margin-left: 50%;
  transform: translateX(-50%);*/
}

.news-Content {
  width: 291px;
  min-height: 519px;
  position: relative;
  margin: auto;
}

/*.news-img {
  width: 291px;
  height: 263px;
  background-color: #dcdcdc;
}*/

.news-img img { max-width: 291px; max-height: 263px; }

.news-txt {
  width: 272px;
  min-height: 220px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -35px;
  padding: 25px 20px 25px 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  background-color: #e4e4e4;
  opacity: 0.88;
  text-align: center;
}

.news-txt h4 { color: #232f36; line-height: 30px; }

.news-Navigation {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.arrows { width: 25px; margin-top: -50px; }

.arrows img { width: 25px; }

/* MOBILE HOME - PROJECTS */
#projects-home {
  width: 100%;
  background-color: #ffffff;
  padding-top: 40px;
}

.projects-home-info { width: 85%; margin: 0 auto; }

.projects-home-info p { text-align: center; margin-top: 30px; }

.projects-home-Container {
  width: 85%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 0;
}

.projects-home-Content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.projects-home-img img { max-width: 100%; }

.projects-home-txt {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.project-learnmore { background-color: #3b948d; }

.projects-home-button {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

#projects-button {
  width: 176px;
  height: 43px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #81a328;
}
#projects-button:hover {
    opacity:0.7;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}


/* MOBILE HOME - EVENTS SECTION */

#events-home {
  width: 100%;
  height: 2000px;
  background: url('../images/index/index-events-section.jpg');
  background-size: cover;
}

.events-home-title {
  height: 36px;
  background-color: #81a328;
  padding-top: 40px;
  padding-bottom: 40px;
}

.events-home-Container {
  width: 280px;
  height: 1710px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events-home-Content {
  width: 280px;
  height: 483px;
  margin-top: 30px;
  color: #ffffff;
}

.events-home-Content p { margin-left: 10px; }

.events-home-Content h5 {
  margin-left: 10px;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-style: italic;
  letter-spacing: 2px;
}

.events-home-aside {
  color: #ffffff;
  font-size:14px;
  margin-top: 15px;
  margin-bottom:15px;
  margin-left: 10px;
}

.events-home-img {
  width: 280px;
  height: 224px;
  background-color: #dcdcdc;
  margin-bottom: 13px;
}

.events-home-button {
  text-align: center;
  margin-top: 30px;
}

#events-button {
  width: 176px;
  height: 43px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #81a328;
}

#events-home-button a {
  text-align: center;
}

/* MOBILE HOME - NEWSLETTER SECTION */

#newsletter-signup {
  width: 100%;
  height: 275px;
  background: url('../images/newsletter-bg.jpg');
  padding-top: 70px;
  padding-bottom: 60px;
}

.newsletter-signup-Container {
  width: 100%;
  height: 273px;
  margin: 0 auto;
  text-align: center;
}

/* MOBILE ABOUT PAGE BEGINS HERE */
#about-page-info {
  width: 320px;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -430px;
  padding: 50px 30px 30px 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  background-color: #1c272d;
}

.about-page-info-Cont h2 { padding-bottom: 30px !important; }

.about-page-info-Cont p {
  color: #ffffff;
  line-height: 19px;
  text-align: left;
}

.about-page-info-bg {
  width: 100%;
  height: 360px;
  background-color: #1c262c;
}

.gallery-Container{
  margin:0 auto;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  background-color:#eee;
 }

.gallery-Content{ margin:0 auto; width:49%; }
.gallery-Content img{ width:95%; }

#about-mission {
  height: auto;
  width: 100%;
  background-color: #ffffff;
}

.about-mission-Container {
  width: 80%;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 80px;
}

.about-mission-Container h3 {
  padding-bottom: 25px;
}

.about-mission-Container h5 {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  line-height: 20px;
  font-style: italic;
  text-align: center;
}

.mission-info {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}

ul.mission-Content {
  list-style-type: circle !important;
  list-style-position: inside;
}

.mission-Content li {
  margin-bottom: 10px;
  font-family: 'Montserrat' sans-serif !important;
  font-weight: 300;
}

#board-members {
  width: 100%;
  background: url('../images/about-members-section.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

#board-members h2 {
  font-size: 20px;
  width: 190px;
  margin: 0 auto;
}

.board-members-Container {
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#volunteer-members-Container { height: auto; }

.board-members-Column { width: 230.64px; }

.board-members-Content { margin-bottom: 30px; }

.board-members-Content h5 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-style: italic;
  line-height: 40px;
  color: #ffffff;
  letter-spacing: 3px;
}

.board-members-Content h6 {
  font-family: 'Montserrat' sans-serif !important;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  line-height: 28px;
  letter-spacing: 1px;
}

#local-business {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #ffffff;
}

#local-business .mission-info { width: 75%; }

#local-business h5 { margin-top: 40px; text-align: center; }

.local-business-Container {
  width: 80%;
  margin: 0 auto;
  margin-top: 110px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.local-business-Container3 { width: 80%; margin: 0 auto; }

.local-business-Content1 { position: relative; margin-bottom: 80px; }

.local-business-Content2 { position: relative; margin-bottom: 80px; }

.local-business-Content3 {
  position: relative;
  margin-top: 0;
  margin: 0 auto;
}

.local-business-logo {
  width: 175px;
  height: 62px;
  padding: 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: -80px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 17px -6px rgba(17,20,26,0.24);
  -moz-box-shadow: 10px 10px 17px -6px rgba(17,20,26,0.24);
  box-shadow: 10px 10px 17px -6px rgba(17,20,26,0.24);
}

.local-business-logo-3 {
  width: 175px;
  height: 158px;
  padding: 30px;
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 17px -6px rgba(17,20,26,0.24);
  -moz-box-shadow: 10px 10px 17px -6px rgba(17,20,26,0.24);
  box-shadow: 10px 10px 17px -6px rgba(17,20,26,0.24);
}

.local-business-logo img, .local-business-logo-3 img {
  max-width: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.local-business-text {
  width: 100%;
  background-color: #012f3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.local-business-text-3 {
  width: 100%;
  background-color: #012f3e;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.first-row {
  flex: 1;
}

.second-row {
  flex: 1;
}

.local-business-text p, .local-business-text-3 p {
  color: #ffffff;
}

.local-business-text a, .local-business-text a:link, .local-business-text a:visited, .local-business-text a:hover
.local-business-text-3 a, .local-business-text-3 a:link, .local-business-text-3 a:visited, .local-business-text-3 a:hover {
    color: #71bdb6;
    text-decoration: none;
}

/* MOBILE PROJECTS PAGE */

#current-proj {
  width: 100%;
}

.current-proj-Container {
  width: 85%;
  margin: 0 auto;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
}

#current-proj h2 {
  color: #000000;
  padding-bottom: 30px;
}

.current-proj-Content {
  width: 100%;
  padding-bottom: 340px;
  display: flex;
  flex-direction: column;
  position: relative;

}

.current-proj-img {
  width: 100%;
  height: 290.095px;
}

.salmonid-image {
  background: url('../images/projects-salmonid.jpg');
  background-size: cover;
  background-position: center;
}

.trout-image {
  background: url('../images/projects-trout.jpg');
  background-size: cover;
  background-position: center;
}

.current-proj-txt {
  width: 90%;
  position: absolute;
  left: 0;
  right: 0;
  top: 230px;
  margin-left: auto;
  margin-right: auto;
  background-color: #01675f;
  border-left: solid 20px #025239;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 30px;
  padding-bottom: 25px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.current-proj-txt h1, .past-proj-contTitle h1 {
  text-align: left;
  font-size: 18px;
  line-height: 21px;
  padding: 0 0 20px 0;
}

.current-proj-txt p {
  color: #ffffff;
}

.current-proj-txt button {
  background-color: #024624;
}

#past-proj {
  width: 100%;
  background: url('../images/index/index-events-section.jpg');
  background-size: cover;
  background-position: center;
}

.past-proj-title {
  background-color: #81a328;
  padding: 30px 0 20px 0;
}

.past-proj-Container {
  width: 85%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.past-proj-Content {
  width: 100%;
  padding-bottom: 130px;
}

.past-proj-img {
  width: 100%;
  height: 235px;
}

.walleye-image {
  background: url('../images/project-walleye.jpg');
  background-size: cover;
  background-position: center;
}

.steam-image {
  background: url('../images/project-steameye.jpg');
  background-size: cover;
  background-position: center;
}

.past-proj-txt {
  width: 75%;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 25px;
  background-color: #01675f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #1c272d;
}

.past-proj-txt h1 {
  padding: 0;
}

.past-proj-button {
  background-color: #81a328;
  width: 73px;
  padding: 20px;
  text-align: center;
}

.past-proj-button a {
  color: #1c272d;
  font-weight: 700;
}

#salmonid-monitoring {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 70px;
}

#salmonid-monitoring h3 {
  width: 80%;
  line-height: 25px;
  margin: 0 auto;
  color: #026158;
}

.program-gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
}

.program-gallery-img {
  width: 49%;
  height: 150px;
  margin-bottom: 5px;
}

.pgi-1 {
  background: url('../images/project-salmonid1.jpg');
  background-size: cover;
  background-position: center;
}

.pgi-2 {
  background: url('../images/project-salmonid2.jpg');
  background-size: cover;
  background-position: center;
}

.pgi-3 {
  background: url('../images/index/index-salmonid3.jpg');
  background-size: cover;
  background-position: center;
}

.pgi-4 {
  background: url('../images/projects-salmonid.jpg');
  background-size: cover;
  background-position: center;
}

.program-text {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.program-text a {
  color: #71bdb6;
  text-decoration: none;
}

.program-vid {
  width: 85%;
  margin: 0 auto;
}

.program-vid iframe {
  width: 100%;
}

#stream-rehab {
  width: 100%;
}

.stream-rehab-title {
  background-color: #1a4351;
  padding-top: 50px;
  padding-bottom: 80px;
  position: relative;
}

.stream-rehab-title p {
  width: 60%;
  color: #ffffff;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.stream-rehab-hero {
  width: 85%;
  height: 130px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: url('../images/project-steameye.jpg');
  background-size: cover;
  background-position: center;
}

#stream-rehab .program-text {
  padding-top: 30px;
}

/*          MOBILE EVENTS PAGE BEGINS HERE    */

#events-upcoming h3{ padding:35px 0 15px 0;}

#events-new{
  width:340px;
  margin:0 auto;
  margin-bottom:35px;
}

#events-new img{ width:340px; padding-top:20px;}

#events-txt{color:#fff;}

#events-past h3{ color:#fff; }

.events-past-h3{
  text-align:center;
  background-color:#1a4351;
  padding-top:25px;
  padding-bottom:25px;
}

.events-past-nav{
  text-align:center;
  background-color:#81a328;
  padding-top:10px;
  padding-bottom:10px;
}

.events-past-nav li{
  padding-left:10px;
  padding-right:10px;
  display:inline;
}

.events-past-nav a, a:visited, a:after{
  font-family:'Josefin Sans', sans-serif;
  font-size:15px;
  letter-spacing:1px;
  color:#fff;
  text-decoration:none;
}

.past-column{
  width:340px;
  margin:0 auto;
  margin-top:10px;
  margin-bottom:30px;
}

.past-img img{ width:340px; padding-top:30px; }

/*         MOBILE RESOURCES PAGE BEGINS HERE      */

.resources h2{
  color:#1c272d;
  padding-bottom:30px;
  font-style:italic;
 }

.resources a{
  color:#00746b;
  text-decoration:underline;
  text-underline-position:under;
}

.resources p{ padding:10px 0 20px 0; }

.resources {
  padding-top:30px;
  margin:0 auto;
  width:300px;
}

#resources-links{
  width:340px;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}

#resources-links h2{
  text-align:left;
}

#resource-authorities{
  width:160px;
  flex-direction:column;
  flex-wrap:wrap;
}

#resource-governmental{
  margin-top:-26px;
  width:160px;
  flex-direction:column;
}

#resource-nl-past{ display:none; }

#resource-retailers{
  margin:30px 0 30px 0;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  width:340px;
}

#resource-ret-1, #resource-ret-2{ width:170px; }

#resource-ret-2{ margin-top:94px; }

#resource-nl-info{
  background-color:#1c272d;
  padding:30px 20px 20px 0;
}

#resource-nl-info h1{ font-size: 20px; }

#resource-nl-info h2{
  font-size:16px;
  width:280px;
  margin:0 auto;
  line-height:23px;
 }

#resource-nl-info p{ margin:0 auto; width:280px; text-align: center; }

#resource-newsletter {
  width: 100%;
  background: url('../images/newsletter-bg.jpg');
  background-size:cover !important;
  padding-top: 40px;
  padding-bottom: 30px;
}

.newsletter-signup-Container {
  width: 340px;
  margin: 0 auto;
  text-align: center;
}

input[type=email], textarea {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 30px;
  border: 0;
  border-bottom: 2px solid #ffffff;
  outline: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  background-color: transparent;
  color: #ffffff;
  font-size: 28px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  resize: none;
}

::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
}

:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
}

::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

input[type=submit]{
  margin-top:25px;
  margin-bottom:25px;
  width:170px;
  height:60px;
  background-color:#81a328;
  font-family:'Josefin Sans', sans-serif;
  font-size:20px;
  letter-spacing:2px;
  border:none;
  color:#fff;
}

.input[type=submit]:hover{ transition:0.5s; background-color:#01675f; }

/*        MOBILE CONTACT PAGE BEGINS HERE      */

#contact-map{ display:none; }

#contact-meetup { margin:0 auto; width:340px; padding-bottom:35px;}

#contact-meetup h3{ padding: 35px 0 35px 0; }

#contact-meetup p{ margin:0 auto; width:320px; }

#contact-form {
  background-image:url('../images/contact-form-bg.jpg');
  background-size:cover;
  background-position:center;
}

#contact-form h3{ color:#fff; padding:35px 0 35px 0; }

.form-container{
  margin:0 auto;
  color:#fff;
  width:340px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  flex-wrap:wrap;
}

.form-container input[type=text], textarea {
  width: 150px;
  margin-top:3px;
  margin-bottom:20px;
  height:25px;
  outline:none;
  padding:0 5px 0 5px;
  font-weight:300;
  letter-spacing:1px;
  opacity:0.9;
}

.form-container input[type=subject], textarea {
  width: 340px;
  margin-top:3px;
  margin-bottom:20px;
  height:85px !important;
  outline:none;
  background-color:#fff;
  color:#000;
  text-align:left;
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  font-weight:300;
  letter-spacing:1px;
  line-height:18px;
  padding:8px 8px 8px 8px;
  opacity:0.9;
}

.form-container #subject{ width:340px; }

.form-container input[type=submit]{
  height:45px;
  width:130px;
  font-size:17px;
  margin-top:10px;
  margin-bottom:35px;
}

#contact-info{
  margin:0 auto;
  padding:35px 0 35px 0;
  width:340px;
  text-align:center;
  display:flex;
  flex-wrap:wrap;
}

#contact-info img{
  width:45px;
  padding-bottom:15px;
}

#contact-mail, #contact-email, #contact-meet{
  margin:0 auto;
  width:300px;
}

/*          MOBILE FOOTER BEGINS HERE        */

#footer{
  margin:0 auto;
  width:100%;
  background-color:#1c272d;
  -webkit-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
}

#footer h3{
  text-align:left;
  font-family: 'Playfair Display', serif;
  color:#fff;
  font-size:20px;
  letter-spacing:3.5px;
  font-style:italic;
}

#footer-info{
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

#quicklinks{ width:330px; margin-top:55px; }

#sub-social{ margin-top:-30px; float:right; }

#sub-social img {width:35px}

#sub-social li{
  display:inline;
  padding-right:3px;
  padding-left:3px;
}

#sub-social a:hover, #sub-contact a:hover{ opacity:0.5; transition:0.5s; }

#sub-nav{ margin-top:45px; display:flex; }

#sub-nav a{
  text-decoration:none;
  font-size:12px;
  letter-spacing:2px;
  line-height:30px;
  color:#dfdfe0;
  opacity:0.8;
}

#sub-nav a:hover{ opacity:1; transition:0.5s; }

#sub-nav li{ display:inline; }

#sub-nav-1, #sub-nav-2{ padding-right:30px; }

#sub-contact{ margin-top:55px;}

#sub-contact img{ width:35px; }

#sub-contact-0{ display:flex; flex-wrap:wrap;}

#sub-contact p{ opacity:0.7; }

#sub-contact-1 ul{ margin-top:34px; margin-left:10px; }

#sub-contact-0 ul{
  font-size:12px;
  letter-spacing:2px;
  color:#fff;
}

#sub-contact-2 ul{ margin-top:45px; margin-left:18px; }

#sub-contact-1 li{ margin-bottom:10px; }

#sub-contact-2 li{ margin-bottom:27px; }

#copyright{
  margin:0 auto;
  margin-top:35px;
  margin-bottom:35px;
  text-align:center;
  width:100%;
  font-family:'Josefin Sans', sans-serif;
  font-size:12px;
  color:#a5ad4b;
  opacity:0.9;
}

/* OTHER MEDIA QUERY */
@media screen and (min-width:495px) {
  .current-proj-Content {
    padding-bottom: 230px;
  }
}

/*     TABLET MEDIA QUERY BEGINS    */

@media screen and (min-width: 641px) {

  body{
    font-size:14px;
    line-height:20px;
  }

  h1{
    font-size:34px;
    letter-spacing:3px;
    line-height:36px;
    font-weight:300;
    padding:0 10px 5px 10px;
  }

  h2{
    font-size:34px;
    line-height:32px;
    letter-spacing:2px;
    padding-bottom:15px;
  }

  h3{
    font-size:34px;
    letter-spacing:3.5px;
    margin:35px 0 35px 0;
  }

  h4{
    font-size:20px;
    letter-spacing:2px;
    padding-bottom:15px;
  }

  #index-head{
    background-image:url('../images/index-header-img-tablet.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:1055px;
  }

  #other-head{
    background-image:url('../images/other-header-img-tablet.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height:700px;
  }

  #headerwrapper{ padding-bottom:150px; }

  #logo{ width:25%; margin-left:15px;}

  #logo img{ width:100%; }

  #nav-mobile{ display:none; }

  #nav-desktop{ display:unset; }

  #mainnav{
    height:85px;
    background-color: rgba(28, 39, 45, .85);
    border-bottom-style: solid;
    border-bottom-width:13px;
    border-bottom-color:#81a328;
  }

  #nav-desktop a, #nav-desktop a:visited{
    font-family:'Josefin Sans', sans-serif;
    font-size:1.9vmin;
    font-weight:300;
    color:#d8e7af;
    text-decoration:none;
    padding:22px 5px 19px 5px;
    margin:0;
    opacity:1;
  }

  #nav-desktop ul{
    width:95%;
    min-width:200px;
    text-align:right;
    padding-top:34px;
    padding-bottom:11px;
    margin-right:30px;
    margin-left:10px;
  }

  #nav-desktop li{ display:inline; }

  #page-info-bg{ margin:0 auto; width:75%; }

  #page-info{
    margin-top:-320px;
    margin-bottom:60px;
    padding:40px 10px 10px 10px;
    z-index:2;
  }

  #page-info h1{ font-size:30px; }

  #page-info h2{ font-size:26px; padding-bottom:30px;}

  #page-body{
    font-family:'Montserrat', sans-serif;
    font-style:italic;
    line-height:20px;
    color:#cbd0d1;
    margin:0 auto;
    width:90%;
    text-align:center;
    padding-bottom:30px;
  }

  /* TABLET HOME PAGE HERE */

  #tagline { height: 220px; width: 699px; }

  #tagline h2{ font-size:25px; }

  #tag-body { width: 625px; }

  #call-to-action {
    width: 701px;
    height: 285px;
    flex-direction: row;
    align-items: center;
  }

  .call-to-action-Cont {
    height: 290px;
    width: 235px;
    padding: 21px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

  .call-to-action-Cont h1 { font-size: 22px; }

  .call-to-action-Cont h2 { font-size: 20px; }

  .button { bottom: 10px; }

  /* TABLET HOME PAGE - ABOUT */
  #about { padding-top: 0; height: 600px; }

  .about-Cont {
    width: 535px;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-img { flex: 1; }

  .about-img img { margin: 0; }

  .about-txt { flex: 1; }

/* TABLET HOME PAGE - NEWS */
  #news {
    height: 980px;
    width: 100%;
    padding-top: 80px;
    overflow: auto;
    background-color: #ffffff;
  }

  .news-Navigation {
    width: 100%;
    margin-top: -50px;
  }

  .news-Container { width: 100%; }

  .news-Content-Container {
    width: 2030px;
    height: 780px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    margin-left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }

  .news-Content {
    width: 631px;
    min-height: 519px;
    position: relative;
  }

  .arrows { display: none; }

  .news-Navigation-Desktop {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .news-img {
    width: 631px;
    height: 350px;
    background-color: #dcdcdc;
  }

  .news-img img { max-width: 100%; max-height: 100%; }

  .news-txt {
    width: 532px;
    min-height: 268px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;
    padding: 30px 40px 40px 40px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color: #e4e4e4;
    opacity: 0.88;
    text-align: center;
  }

  .news-txt h4 { color: #232f36; line-height: 40px; }

  #news-Navigation {
    width: 1076px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .leftArrow { margin-right: 50px; }

  /* TABLET HOME - EVENTS */
  #events-home {
    width: 100%;
    height: 1309px;
    background: url('../images/index/index-events-section.jpg');
  }

  .events-home-title {
    height: 36px;
    background-color: #81a328;
    padding-top: 80px;
    padding-bottom: 70px;
  }

  .events-home-Container {
    width: 587px;
    height: 980px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .events-home-Content {
    width: 280px;
    height: 483px;
    margin-top: 30px;
    color: #ffffff;
    flex: 1;
  }

  .events-home-Content p { margin-left: 10px; }

  .events-home-Content h5 {
    margin-left: 10px;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-style: italic;
    letter-spacing: 2px;
  }

  .events-home-aside {
    color: #ffffff;
    font-size:14px;
    margin-bottom:15px;
    margin-left: 10px;
  }

  .events-home-img {
    width: 280px;
    height: 224px;
    background-color: #dcdcdc;
    margin-bottom: 13px;
  }

  .events-home-button { text-align: center; margin-top: 30px; }

  #events-button {
    width: 176px;
    height: 43px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #81a328;
  }

  #events-home-button a { text-align: center; }

  /* TABLET HOME - PROJECTS */

  #projects-home { height: auto; }

  .projects-home-Container { height: auto; }

  .projects-home-Content { margin-top: 50px; }

  .projects-home-img, .projects-home-img img { width: 100%; }

  .projects-home-txt { padding-bottom: 0; height: auto; }

  .program-gallery-img {
    width: 24%;
    height: 180px;
    margin-bottom: 5px;
  }

  /* TABLET ABOUT PAGE HERE */
  #about-page-info { width: 554.99px; margin-top: -400px; }

  .about-page-info-bg { height: 200px; }

  .about-mission-Container { width: 65%; }

  #board-members h2 { width: auto; }

  .about-mission-Container h3 { padding-bottom: 0; }

  .board-members-Container { flex-direction: row; }

  .board-members-Column { width: 200px; }

  .board-members-Content h6, .board-members-Content h5 { line-height: 32px; }

  .local-business-Container {
    width: 90%;
    flex-direction: row;
    justify-content: center;
  }

  .local-business-Container3 { max-width: 80%; }

  #local-business .mission-info { width: 65%; }

  .local-business-Content1 { margin-bottom: 40px; margin-left: 10px; }

  .local-business-Content2 { margin-bottom: 20px; margin-left: 10px; }

  .local-business-Content3 { width: 100%; margin: initial; }

  .local-business-logo {
    top: -40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .local-business-logo-3 {
    width: 151px;
    height: 143.12px;
    padding: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: initial;
    margin-right: initial;
  }

  .local-business-text {
    width: 337px;
    justify-content: flex-start;
    padding-top: 70px;
    padding-bottom: 0;
  }

  .local-business-text-3 {
    width: 80%;
    justify-content: flex-start;
    margin-top: 0;
    margin-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 150px;
  }

  .first-row { height: 380px; }

  .second-row { height: 280px; }

  /* TABLET ABOUT PAGE HERE  */

  .gallery {
    width: 100%;
    height: auto;
    background-color: #ffffff;
  }

  .gallery-Container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .gallery-Content { margin-bottom: 5px; flex: 1; }

  .gallery-Content img { display: block; width: 90%; }


  /* TABLET PROJECTS PAGE HERE */
  #current-proj { padding-bottom: 100px; }

  #current-proj h2{ padding-bottom: 0; }

  .current-proj-Content {
    flex-direction: row;
    padding-bottom: initial;
    margin-top: 80px;
  }

  .current-proj-img {
    width: 70%;
    height: 450px;
  }

  .current-proj-txt {
    width: 50%;
    left: initial;
    top: 60px;
    right: 0;
    padding: 20px;
  }

  .current-proj-txt h1 {
    font-size: 24px;
    line-height: 30px;
    width: 60%;
    padding-bottom: 10px;
    padding-right: 30px;
  }

  .current-proj-txt p { font-size: 13px; line-height: 21px; }

  #current-proj-Content-Trout { flex-direction: row-reverse; }

  #current-proj-txt-Trout { right: initial; left: 0; }

  .past-proj-Content { padding-bottom: 200px; }

  .past-proj-Container { width: 65%; }

  .past-proj-txt { width: 60%; }

  .past-proj-contTitle { width: 60%; }

  .past-proj-contTitle h1 { font-size: 31px; line-height: 41px; }

  .past-proj-button { flex: 1; }

  .stream-rehab-hero { height: 287px;}

  .program-text {width: 55%;}

  #stream-rehab { padding-bottom: 50px; }

  .stream-rehab-title h2 { padding-bottom: 40px; }

  #stream-rehab .program-text { padding-top: 210px; }


  /*       TABLET EVENTS PAGE HERE    */

  #events-new{ width:400px; }

  #events-new img{ width:400px; }

  /*       TABLET RESOURCES PAGE HERE    */

  .resources{ width:650px; }

  .resources h2{ font-size:24px; }

  #resource-conserve, #resource-fishing{ width:90%; }

  #resource-retailers{ display:block; }

   #resources-links{
     margin:0 auto;
     padding-top:15px;
     padding-bottom:50px;
     width:650px;
     display:flex;
     justify-content:space-between;
   }

   #resource-authorities, #resource-governmental, #resource-retailers{
     width:200px;
     margin:0 auto;
   }

   #resource-ret-2{ margin-top:0; }

   #resource-nl-info{
     background-color:#1c272d;
     padding-top:80px;
     padding-bottom:50px;
   }

   #resource-nl-info h1{ font-size: 36px; }

   #resource-nl-info h2{
     font-size:26px;
     width:500px;
     margin:0 auto;
     line-height:34px;
    }

    #resource-nl-info p{ width: 500px; }

   .newsletter-signup-Container {
     width: 680px;
     height: 273px;
     margin: 0 auto;
     text-align: center;
   }

   input[type=email], textarea {
     width: 671px;
     border-bottom: 5px solid #ffffff;
     font-size: 24px;
     text-align: center;
     resize: none;
   }

   input[type=submit]{
     width:210px;
     height:70px;
     font-size:24px;
   }

   .input[type=submit]:hover{ transition:0.5s; background-color:#01675f; }

   /*       TABLET CONTACT PAGE HERE    */

   #contact-meetup{ width:540px; }
   #contact-meetup p{ width:475px; }

   #contact-info{
     width:660px;
     padding:50px 0 50px 0;
     justify-content:space-between;
   }

   #contact-mail, #contact-email, #contact-meet{
     font-size:11px;
     width:220px;
   }


  /*       TABLET FOOTER SECTION HERE    */

  #footer-info{ width:80%; }

  #sub-social{ margin-top:-60px; }

  #sub-contact-1{ margin-top:-30px; }

  #sub-contact-2{ margin-top:-30px; }

}

/*     OTHER MEDIA QUERY BEGINS HERE   */
@media screen and (min-width:900px) {
  .past-proj-contTitle {
    width: 55%;
  }
}

/*     DESKTOP MEDIA QUERY BEGINS    */

@media screen and (min-width:961px) {

  body{
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    font-weight:300;
    letter-spacing:1px;
    line-height:26px;
    background-color:#1c272d;
  }

  h1{
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
    color:#fff;
    font-size:36px;
    letter-spacing:3px;
    font-weight:300;
    padding-bottom:10px;
  }

  h2{
    text-align:center;
    font-family: 'Playfair Display', serif;
    font-size:28px;
    line-height:32px;
    letter-spacing:4px;
    color:#fff;
    padding-top:5px;
    padding-bottom:35px;
  }

  h3{
    text-align:center;
    font-family: 'Playfair Display', serif;
    color:#1c272d;
    font-size:36px;
    letter-spacing:3.5px;
  }

  h4{
    font-family: 'Playfair Display', serif;
    color:#1c272d;
    font-size:30px;
    letter-spacing:3.5px;
    line-height:38px;
    font-style:italic;
    margin-bottom:25px;
  }

  .drop-cap{
    font-family: 'Playfair Display', serif;
    color:#6a757b;
    font-size:88px;
    line-height:70px;
    float:left;
    margin:0 10px 0 0;
  }

  .aside-txt{
    color:#fff;
    font-size:18px;
    font-family:'Montserrat', sans-serif;
    font-style:italic;
    letter-spacing:2px;
    line-height:29px;
  }

  a, a:link, a:visited, a:hover{ color:#71bdb6; text-decoration:none; }

  .button:hover{
    opacity:0.7;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }


  /*              DESKTOP MAIN HEADER HERE               */

  #index-head{
    background-image:url('../images/index-header-img-desk.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:1055px;
  }

  #other-head{
    background-image:url('../images/other-header-img-desk.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:800px;
  }

  #header-wrapper{ padding-bottom:70px; }

  #logo{ width:250px; margin-left:30px;}

  #logo img{ width:100%; }

  #mainnav{
    width:100%;
    height:55px;
    background-color: rgba(28, 39, 45, .85);
    border-bottom-style: solid;
    border-bottom-width:15px;
    border-bottom-color:#81a328;
  }

  #mainnav a, #mainnav a:visited{
    font-family:'Josefin Sans', sans-serif;
    font-size:1.16vw;
    font-weight:300;
    color:#d8e7af;
    text-decoration:none;
    padding:1.375em 1.125em 1.125em 1.125em;
    margin:0;
    opacity:1;
  }

  #mainnav a:hover{
    color:#fff;
    background-color:rgba(129, 163, 40, .85);
    transition: 0.5s;
  }

  #mainnav a.selected{ color:#fff; background-color:#81a328; }

  #mainnav ul{
    text-align:right;
    padding-top:16px;
    padding-bottom:11px;
  }

  #mainnav li{ display:inline; }

  #logo a:hover{ background:none; }

  #page-info-bg{
    margin:0 auto;
    padding:8px 0 8px 0;
    margin-top:-350px;
    width:75%;
    max-width:900px;
    background-color:rgb(2, 87, 80, .85);
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
  }

  #page-info{
    margin:18px;
    padding-top:40px;
    border-style:dashed;
    border-width:2px;
    border-color:#7aa5a2;
  }

  #page-body{
    font-family:'Montserrat', sans-serif;
    font-style:italic;
    color:#b9c7c4;
    margin:0 auto;
    width:80%;
    text-align:center;
    padding-bottom:30px;
  }

  #tagline{
    margin:0 auto;
    height:265px;
    width:900px;
    margin-top:280px;
    margin-bottom:95px;
    background-color: #cccccc;
    background-color:rgb(2, 87, 80, .85);
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
  }

  #tagline-info{
    margin:18px;
    padding-top:40px;
    border-style:dashed;
    border-width:2px;
    border-color:#7aa5a2;
  }

  #tagline-info h2{ font-size:25px; margin-top:-10px; }
  #tagline-info p{ font-size:18px; margin-top:-10px;}

  #tag-body{
    font-family:'Montserrat', sans-serif;
    font-style:italic;
    /*color:#b9c7c4;*/
    color: #fff;
    margin:0 auto;
    width:675px;
    text-align:center;
    padding-bottom:30px;
  }

  #nextdiv{ height:500px; }

  /*          DESKTOP HOME PAGE STARTS HERE        */
  /*          DESKTOP CALL TO ACTION               */

  #call-to-action {
    width: 1062px;
    height:
    339px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -350px;
    display: flex;
    flex-direction: row;
  }

  .call-to-action-Cont {
    padding: 50px 30px 10px 30px;
    flex: 1;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
  }

  .call-to-action-Cont h1 { font-size:28px; }

  .call-to-action-Cont h2 { padding-bottom: 20px !important; }

  .call-to-action-Cont p { color: #ffffff; }

  .call-to-action p { text-align: center; }

  .button {
    width: 151px;
    height: 43px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #acacac;
    border: none;
  }

  .button a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
    border: 0 !important;
    outline: 0;
  }

  .cta-button { background-color: #0d433f; }

  .cta-button:hover {
    opacity:0.7;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  /*          DESKTOP ABOUT SECTION               */

  #about {
    width: 100%;
    height: 550px;
    padding-top: 80px;
    background-color: #1c272d;
  }

  .about-Cont {
    width: 824px;
    height: 371px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-img img { width: 100%; height: 100%; margin-top: 0; }

  .about-txt { padding-left: 30px; }

  .about-txt p { color: #ffffff; line-height: 26px; }

  #about-button { margin-top: 18px; }

  #about-button:hover {
    opacity:0.7;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  #about-button a { color: #1c272d; }

  /* HOMEPAGE UPCOMING EVENTS SECTION */

  #events-home{ margin:0 auto; height:870px; background-size:cover;}

  .events-home-Container{
    margin:0 auto;
    width:96%;
    max-width:1280px;
    display:flex;
    flex-wrap:nowrap;
    padding-top:40px;
  }
  .events-home-Content{ margin:0 auto; width:250px; }
  .events-home-img img{ width:280px; }
  .events-home-Content h5{ margin-top:30px; }
  .events-home-aside{  margin-bottom:20px; }
  .events-home-Content p{ width:280px; }
  .events-home-button{ margin:0 auto 0 auto; margin-top:-440px;}

  /* DESKTOP HOMEPAGE PROJECTS SECTION */

  #projects-home{ margin-bottom:20px; }

  .projects-home-Container{ width:90%; max-width:1180px; margin-bottom:50px;}
  .projects-home-Content { display:flex; flex-direction:row; }

  .projects-home-img{ width:575px; }
  .projects-home-txt{ width:530px; }

  /* DESKTOP ABOUT PAGE */

  .gallery-Content{
    margin:0 auto;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }
  .gallery-Content img{ margin:0 auto; }


  /* DESKTOP PROJECTS PAGE */
  .current-proj-txt {
    width: 45%;
    padding: 40px 45px;
    top: initial;
    bottom: 50px;
  }

  .current-proj-txt h1 { font-size: 30px; line-height: 41px; }

  .current-proj-img { height: 700px; }

  .past-proj-Container {
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
  }

  .past-proj-Content { width: 45%; padding-bottom: 60px; }

  .past-proj-txt h1{ font-size:24px; }

  .past-proj-img { height: 350px; }

  .past-proj-txt { width: 90%; position: initial; }

  .past-proj-button a { color: #1c272d!important; }

  #salmonid-monitoring { padding-top: 90px; }

  .program-gallery { margin-top: 80px; }

  .program-gallery-img{ width:24%; }

  .program-text { width: 40%; }

  .stream-rehab-title p { width: 50%; }

  .stream-rehab-hero { height: 473px; }

  #stream-rehab .program-text { padding-top: 410px; }

  /* DESKTOP EVENTS */

  #events-upcoming{
    margin:0 auto;
    background-color:#fff;
    padding-top:20px;
  }

  #events-new{
    margin:0 auto;
    margin-top:50px;
    width:80%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }

  #events-new .aside-txt{
    color:#000;
    font-size:14px;
    margin-bottom:15px;
  }

  .events{ width:49%; margin-bottom:80px; }

  .events-img{ margin-bottom:25px;}

  .events-img img{ width:90% !important; }

  .events-txt{ padding-right:50px; }

  .events-past-h3{
    padding-top:70px;
    padding-bottom:70px;
    background-color:#1a4351;
  }

  .events-past-h3 h3{ color:#fff; }

  .events-past-nav{
    text-align:center;
    background-color:#81a328;
    padding-top:25px;
    padding-bottom:25px;
  }

  .events-past-nav li{
    padding-left:30px;
    padding-right:30px;
    display:inline;
  }

  .events-past-nav a, a:visited, a:after{
    font-family:'Josefin Sans', sans-serif;
    font-size:20px;
    letter-spacing:1px;
    color:#fff;
    text-decoration:none;
  }

  .events-past-nav a:hover{ opacity:0.5; transition:0.3s; }

  .past-column{
    margin:0 auto;
    max-width:1024px;
    padding-top:85px;
    width:80%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
  }

  .past-img{ width:400px; height:290px; }

  .past-txt{ width:515px; margin:0 15px 65px 30px; }

  #events-past .aside-txt{
    color:#000;
    font-size:14px;
    margin-bottom:15px;
    margin-top:-5px;
  }

  /*          DESKTOP RESOURCES PAGE STARTS HERE        */

  .resources p{ padding-top:15px; padding-bottom:15px;}

  .resources a,.resources a:link, .resources a:visited {
    color:#00746b;
    font-size:17px;
    text-decoration:underline;
    text-underline-position:under;
  }

  .resources a:hover{ transition:none; color:#71bdb6;}

  .resources h2 {
    color:#1c272d;
    text-align:left;
    font-style:italic;
  }

  #resource-conserve{
    margin:0 auto;
  width:80%;
    max-width:850px;
    background-color:#fff;
    padding:50px 150px 30px 150px;
  }

  #resource-fishing{
    margin:0 auto;
    width:850px;
    background-color:#fff;
    padding:0 150px 25px 150px;
  }

  #resources-links{
    margin:0 auto;
    padding-top:15px;
    padding-bottom:50px;
    width:1050px;
    display:flex;
    justify-content:space-between;
  }

  #resource-authorities, #resource-governmental, #resource-retailers{ width:300px; margin:0 auto;}

  #resource-nl-info p{
    margin:0 auto;
    width:600px;
    line-height:24px;
  }

  #resource-newsletter{
    background-image:url('../images/newsletter-bg.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    text-align:center;
    height:260px;
    padding-top:85px;
    padding-bottom:60px;
  }

  #resource-nl-past{
    margin:0 auto;
    width:1050px;
    padding:60px 0 60px 0;
  }

  #resource-nl-past h2{ color:#1c272d; padding-bottom:30px;}

  #resource-nl-past p{
    margin:0 auto;
    width:700px;
    text-align:center;
  }

  #resource-nl-past{ display:grid; margin:0 auto; }

  #resource-nl-archive{
    width:1050px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
  }

  #resource-ret-1, #resource-ret-2{ width:400px; }

  /*          DESKTOP RESOURCE NEWSLETTER SECTION        */
  #resource-newsletter {
    width: 100%;
    height: 275px;
    background: url('../images/newsletter-bg.jpg');
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .newsletter-archive{ padding-top:60px; }

  .newsletter-archive h5{
    text-align:center;
    font-style:'Montserrat', sans-serif;
    font-size:20px;
    color:#fff;
    background-color:#1c272d;
    width:318px;
    padding-top:5px;
    padding-bottom:5px;
  }

  #nl-arch-links{
    font-style:'Montserrat', sans-serif;
    font-size:17px;
    color:#fff;
    background-color:#00746b;
    padding:20px 35px 20px 35px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
  }

  #nl-arch-links a{ color:#fff; }
  #nl-arch-links a:hover{ opacity:0.5; transition:0.5s; }

  .nl-short-1{ width:59px; }
  .nl-short-2{ width:119px; }
  .nl-long{ width:248px; }

/*          DESKTOP CONTACT PAGE BEGINS HERE      */

#contact-meetup{ width:650px; padding-bottom:70px; }
#contact-meetup p{ width:650px; }

#contact-form{ padding:5px 0 50px 0; color:#fff; }

#contact-f-container{
  margin:0 auto;
  width:100%;
  max-width:1000px;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

#contact-map{ width:460px; }
.form-container{ width:460px; }
#contact-info{ width:100%; max-width:1000px;  padding:80px 0 80px 0; }

#contact-mail, #contact-email, #contact-meet{ padding:0 40px 0 40px; line-height:20px; }
#contact-mail{ padding-right:80px; }
#contact-meet{ padding-left:60px; }

.form-container input[type=text], textarea {
  width: 200px;
  margin-top:3px;
  margin-bottom:10px;
  height:40px;
  outline:none;
  padding:0 5px 0 5px;
  font-size:12px;
  font-weight:300;
  letter-spacing:1px;
  opacity:0.9;
}

.form-container input[type=subject], textarea {
  width: 340px;
  margin-top:3px;
  margin-bottom:20px;
  height:105px !important;
  font-size:12px;
  text-align:left;
  padding:5px;
}

.form-container #subject{ width:460px; }

.form-container input[type=submit]:hover{ opacity:0.8; }

/*          DESKTOP FOOTER BEGINS HERE      */

  #footer{
    margin:0 auto;
    width:100%;
    height:325px;
    background-color:#1c272d;
    -webkit-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
  }

  #footer h3{
    text-align:left;
    font-family: 'Playfair Display', serif;
    color:#fff;
    font-size:30px;
    letter-spacing:3.5px;
    font-style:italic;
  }

  #footer-info{
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content:center;
  }

  #quicklinks{ width:45vmin; margin-top:55px;  margin-right:250px; }

  #sub-social{ float:right; margin-right:-150px; padding-top:20px;}

  #sub-social img{ width:45px; margin-top:-30px; }

  #sub-social li{
    display:inline;
    padding-right:8px;
    padding-left:8px;
  }

  #sub-social a:hover, #sub-contact a:hover{ opacity:0.5; transition:0.5s; }

  #sub-nav{   margin-top:45px; display:flex; }

  #sub-nav a{
    text-decoration:none;
    font-size:13px;
    letter-spacing:3px;
    line-height:30px;
    color:#dfdfe0;
    opacity:0.8;
  }

  #sub-nav a:hover{ opacity:1; transition:0.5s; }

  #sub-nav li{ display:inline; }

  #sub-nav-1, #sub-nav-2{ padding-right:80px; }

  #sub-contact{ margin-top:55px; width:53vmin; }

  #sub-contact-0{ display:flex;}

  #sub-contact p{ opacity:0.7; }

  #sub-contact-1, #sub-contact-2{ padding-top:20px; }

  #sub-contact-1 ul{ margin-top:5px; margin-left:10px; }

  #sub-contact-1 img{ width:40px; }

  #sub-contact-0 ul{
    font-size:14px;
    letter-spacing:2px;
    color:#fff;
  }

  #sub-contact-2 ul{ margin-top:10px; margin-left:18px; }

  #sub-contact-1 li{ margin-bottom:10px; }

  #sub-contact-2 li{ margin-bottom:18px; }

  #copyright{
    margin:0 auto;
    margin-top:35px;
    margin-bottom:35px;
    text-align:center;
    width:80%;
    font-family:'Josefin Sans', sans-serif;
    font-size:12px;
    color:#a5ad4b;
    opacity:0.9;
  }
}

/*   DESKTOP QUERY FIXES  */

@media screen and (min-width:970px) {

  #contact-meet { border-left:2px solid #e1e1e1; }

  #contact-mail{ border-right:2px solid #e1e1e1; }

  #contact-map{ display:unset; }

}

@media screen and (min-width:1000px) {
  .local-business-Container {
    width: 90%;
  }

  .local-business-Container3 {
    max-width: 60%;
  }
}

@media screen and (min-width:1156px) {
  .local-business-Container {
    width: 80%;
  }
}
