@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Montserrat:300,300i,700|Playfair+Display:300,300i,400,400i&display=swap');

/*      DEFAULT STYLING      */

body{
font-family: 'Montserrat', sans-serif;
font-size:15px;
font-weight:300;
letter-spacing:1px;
line-height:26px;
background-color:#1c272d;
}

.hidden{ display:none; }

.clear {
  content: "";
  display: table;
  clear: both;
}

#wrapper{ width:100%; background-color:#fff;}

/*      MAIN TYPOGRAPHY STYLING      */

h1{
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
  color:#fff;
  font-size:36px;
  letter-spacing:3px;
  font-weight:300;
  padding-bottom:10px;
}

h2{
  text-align:center;
  font-family: 'Playfair Display', serif;
  font-size:28px;
  line-height:32px;
  letter-spacing:4px;
  color:#fff;
  padding-top:5px;
  padding-bottom:35px;
}

.h2-italics{ font-style:italic; }

h3{
  text-align:center;
  font-family: 'Playfair Display', serif;
  color:#1c272d;
  font-size:36px;
  letter-spacing:3.5px;
}

h4{
  font-family: 'Playfair Display', serif;
  color:#1c272d;
  font-size:30px;
  letter-spacing:3.5px;
  font-style:italic;
  margin-bottom:25px;
}

.drop-cap{
  font-family: 'Playfair Display', serif;
  color:#6a757b;
  font-size:88px;
  line-height:70px;
  float:left;
  margin:0 10px 0 0;
}

.aside-txt{
  color:#fff;
  font-size:18px;
  font-family:'Montserrat', sans-serif;
  font-style:italic;
  letter-spacing:2px;
  line-height:29px;
}

a, a:link, a:visited, a:hover{ color:#71bdb6; text-decoration:none; }

.traa-button{
  margin-top:25px;
  margin-bottom:25px;
  width:130px;
  height:35px;
  background-color:#81a328;
  font-family:'Montserrat', sans-serif;
  font-size:14px;
  font-weight:700;
  letter-spacing:1px;
  border:none;
  color:#fff;
}

.traa-button:hover{ transition:0.5s; background-color:#01675f; }

#newsletter-button{
  margin-top:25px;
  margin-bottom:25px;
  width:210px;
  height:70px;
  background-color:#81a328;
  font-family:'Josefin Sans', sans-serif;
  font-size:24px;
  letter-spacing:2px;
  border:none;
  color:#fff;
}

#newsletter-button:hover{ transition:0.5s; background-color:#01675f; }

/*              MAIN HEADER HERE               */

#index-head{
  background-image:url('../images/index-header-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:1055px;
}

#other-head{
  background-image:url('../images/other-header-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header-wrapper{ background-color:#1c272d; padding-bottom:100px; }

#logo{ margin:10px 0 55px 60px; float:left; }

#mainnav{
  height:55px;
  background-color: rgba(28, 39, 45, .85);
  border-bottom-style: solid;
  border-bottom-width:15px;
  border-bottom-color:#81a328;
}

#mainnav a, #mainnav a:visited{
  font-family:'Josefin Sans', sans-serif;
  font-weight:300;
  color:#d8e7af;
  text-decoration:none;
  padding:22px 18px 19px 18px;
  margin:0;
  opacity:1;
}

#mainnav a:hover{
  color:#fff;
  background-color:rgba(129, 163, 40, .85);
  transition: 0.5s;
}

#mainnav a.selected{ color:#fff; background-color:#81a328; }

#mainnav ul{
  text-align:right;
  padding-top:14px;
  padding-bottom:11px;
}

#mainnav li{ display:inline; }

#page-info-bg{
  margin:0 auto;
  width:900px;
  background-color:rgb(2, 87, 80, .85);
  -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.8);
}

#page-info{
  margin:18px;
  padding-top:40px;
  border-style:dashed;
  border-width:2px;
  border-color:#7aa5a2;
}

#page-body{
  font-family:'Montserrat', sans-serif;
  font-style:italic;
  color:#b9c7c4;
  margin:0 auto;
  width:675px;
  text-align:center;
  padding-bottom:30px;
}

#nextdiv{ height:500px; }


/*          EVENTS PAGE STARTS HERE        */

#events-upcoming{
  margin:0 auto;
  width:1150px;
  background-color:#fff;
  padding-top:50px;
}

#events-new{
  margin:0 auto;
  margin-top:70px;
  width:1050px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

#events-new .aside-txt{
  color:#000;
  font-size:14px;
  margin-bottom:15px;
}

.events{ width:500px; margin-bottom:80px; }

.events-img{ margin-bottom:25px; text-align:center; }

.events-txt{ padding-left:30px; padding-right:10px; }

.events-past-h3{
  padding-top:70px;
  padding-bottom:70px;
  background-color:#1a4351;
}

.events-past-h3 h3{ color:#fff; }

.events-past-nav{
  text-align:center;
  background-color:#81a328;
  padding-top:25px;
  padding-bottom:25px;
}

.events-past-nav li{
  padding-left:30px;
  padding-right:30px;
  display:inline;
}

.events-past-nav a, a:visited, a:after{
  font-family:'Josefin Sans', sans-serif;
  font-size:20px;
  letter-spacing:1px;
  color:#fff;
  text-decoration:none;
}

.events-past-nav a:hover{ opacity:0.5; transition:0.3s; }

.past-column{
  margin:0 auto;
  padding-top:85px;
  width:980px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.past-img{ width:400px; height:290px; }

.past-txt{ width:515px; margin:0 15px 65px 30px; }

#events-past .aside-txt{
  color:#000;
  font-size:14px;
  margin-bottom:15px;
  margin-top:-5px;
}

/*          RESOURCES PAGE STARTS HERE        */

.resources p{ padding-top:15px; padding-bottom:15px;}

.resources a,.resources a:link, .resources a:visited {
  color:#00746b;
  font-size:17px;
  text-decoration:underline;
  text-underline-position:under;
}

.resources a:hover{ transition:none; color:#71bdb6;}

.resources h2 {
  color:#1c272d;
  text-align:left;
  font-style:italic;
}

#resource-conserve{
  margin:0 auto;
  width:850px;
  background-color:#fff;
  padding:50px 150px 30px 150px;
}

#resource-fishing{
  margin:0 auto;
  width:850px;
  background-color:#fff;
  padding:0 150px 25px 150px;
}

#resources-links{
  margin:0 auto;
  padding-top:15px;
  padding-bottom:50px;
  width:1050px;
  display:flex;
  justify-content:space-between;
}

#resource-authorities, #resource-governmental, #resource-retailers{ width:300px; margin:0 auto;}

#resource-nl-info{
  background-color:#1c272d;
  padding-top:80px;
  padding-bottom:60px;
}

#resource-newsletter{
  background-image:url('../images/newsletter-bg.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  text-align:center;
  height:260px;
  padding-top:85px;
  padding-bottom:60px;
}

#resource-nl-past{
  margin:0 auto;
  width:1050px;
  padding:60px 0 60px 0;
}

#resource-nl-past h2{ color:#1c272d; padding-bottom:30px;}

#resource-nl-past p{
  margin:0 auto;
  width:700px;
  text-align:center;
}

#resource-nl-archive{
  width:1050px;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}

.newsletter-archive{
  padding-top:60px;
}

.newsletter-archive h5{
  text-align:center;
  font-style:'Montserrat', sans-serif;
  font-size:20px;
  color:#fff;
  background-color:#1c272d;
  width:318px;
  padding-top:5px;
  padding-bottom:5px;
}

#nl-arch-links{
  font-style:'Montserrat', sans-serif;
  font-size:17px;
  color:#fff;
  background-color:#00746b;
  padding:20px 35px 20px 35px;
  margin-top:10px;
  margin-bottom:10px;
  float:left;
}

#nl-arch-links a{ color:#fff; }
#nl-arch-links a:hover{ opacity:0.5; transition:0.5s; }

.nl-short-1{ width:59px; }
.nl-short-2{ width:119px; }
.nl-long{ width:248px; }

/*          FOOTER BEGINS HERE        */

#footer{
  margin:0 auto;
  width:100%;
  height:325px;
  background-color:#1c272d;
  -webkit-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.6);
}

#footer h3{
  text-align:left;
  font-family: 'Playfair Display', serif;
  color:#fff;
  font-size:30px;
  letter-spacing:3.5px;
  font-style:italic;
}

#footer-info{
  margin:0 auto;
  display:flex;
  justify-content:center;
}

#quicklinks{ width:440px; margin-top:55px; }

#sub-social{ margin-top:-30px; float:right; }

#sub-social li{
  display:inline;
  padding-right:8px;
  padding-left:8px;
}

#sub-social a:hover, #sub-contact a:hover{ opacity:0.5; transition:0.5s; }

#sub-nav{   margin-top:45px; display:flex; }

#sub-nav a{
  text-decoration:none;
  font-size:13px;
  letter-spacing:3px;
  line-height:30px;
  color:#dfdfe0;
  opacity:0.8;
}

#sub-nav a:hover{ opacity:1; transition:0.5s; }

#sub-nav li{ display:inline; }

#sub-nav-1, #sub-nav-2{ padding-right:80px; }

#sub-contact{ margin-top:55px; margin-left:150px; }

#sub-contact-0{ display:flex; }

#sub-contact p{ opacity:0.7; }

#sub-contact-1 ul{ margin-top:34px; margin-left:10px; }

#sub-contact-0 ul{
  font-size:14px;
  letter-spacing:2px;
  color:#fff;
}

#sub-contact-2 ul{ margin-top:41px; margin-left:18px; }

#sub-contact-1 li{ margin-bottom:10px; }

#sub-contact-2 li{ margin-bottom:18px; }

#copyright{
  margin:0 auto;
  margin-top:35px;
  text-align:center;
  width:900px;
  font-family:'Josefin Sans', sans-serif;
  font-size:12px;
  color:#a5ad4b;
  opacity:0.9;
}
